                                                ‫مشروع‬
                                               ‫مترجمات‬
  ‫أ‪ /‬عقيل الشرفي‬

                       ‫تعليمات وشروط مشروع المترجمات‬
                                                            ‫أواًل ‪ :‬تشكيل املجموعات‬
                                            ‫يتم تنفيذ املرشوع ضمن مجموعات‪.‬‬
               ‫جيب أن تتكون كل مجموعة من ‪ 5‬طالب بالضبط‪ ،‬ال أكرث وال أقل‪.‬‬
                                  ‫ال يسمح للطالب باالشرتاك يف أكرث من مجموعة‪.‬‬
‫جيب عىل كل رئيس مجموعة إرسال اسمه وأسماء جميع أعضاء مجموعته إىل مندوب‬
                                                      ‫املادة قبل املوعد املحدد‪.‬‬
                    ‫آخر موعد إلرسال أسماء املجموعات‪⁩28⁦ :‬أغسطس⁨ ‪. ⁩2026‬‬
‫سيتم إرسال كشف بأرقام املجموعات الحًق ا‪ ،‬وجيب استخدام رقم املجموعة يف تسمية‬
                                 ‫ملفات التسليم حسب التعليمات املوضحة أدناه‪.‬‬

                                                                ‫ثانًي ا‪ :‬فكرة املرشوع‬
                                                   ‫ينقسم املرشوع إىل جزأين مستقلني‪:‬‬



       ‫‪ .1‬املرتجم (‪ :)Compiler‬جيب تطوير برنامج مرتجم يقوم رتبجمة الربامج‬
                              ‫املكتوبة وفق قواعد اللغة الربمجية املحددة للمرشوع‬

                          ‫( سيتم ارسال ملف حيتوي قواعد اللغة املحددة للمرشوع)‪.‬‬

                            ‫املدخالت ‪ :‬ملف حيتوي عىل كود مكتوب بلغة املرشوع‪.‬‬
                                                        ‫أ‬
   ‫مخرجات املرتجم جيب أن يوفر املرتجم مخرجات مراحل الرتجمة اليت مت تطبيقها‪،‬‬
                                                                         ‫ومنها‪:‬‬
                                      ‫‪ Tokens‬الناجتة من التحليل املعجمي‪.‬‬
                    ‫‪ Parse Tree / Syntax Tree‬الناجتة من التحليل النحوي‪.‬‬
                                                         ‫‪.Symbol Table‬‬
                                                ‫‪ Syntax Errors‬إن وجدت‪.‬‬
                                             ‫‪ Semantic Errors‬إن وجدت‪.‬‬
                                                  ‫‪Three-Address Code‬‬
                                                      ‫‪. Assembly Code‬‬
                                ‫ملف تنفيذي ‪ EXE‬عند جناح عملية الرتجمة‪.‬‬

‫جيب أن تكون مخرجات مراحل الرتجمة حقيقية وناجتة عن معالجة الكود املدخل‪ ،‬وليست‬
                                                      ‫بيانات ثابتة أو معدة مسبًق ا‪.‬‬



       ‫‪ .2‬محرر اللغة (‪ :)Language Editor‬جيب تطوير برنامج مستقل يسمح‬
   ‫للمستخدم بكتابة الربامج بلغة املرشوع والتعامل معها كما هو الحال يف بيئات الربمجة‪.‬‬

                                                      ‫جيب أن يوفر املحرر عىل األقل‪:‬‬
                                                             ‫إنشاء ملف جديد‪.‬‬
                                                             ‫فتح ملف موجود‪.‬‬
                                                          ‫كتابة وتعديل الكود‪.‬‬
                                                                 ‫حفظ امللفات‪.‬‬
                                                        ‫تنفيذ‪/‬تشغيل الربنامج‪.‬‬
                                      ‫عرض األخطاء النحوية والداللية إن وجدت‪.‬‬
                                                   ‫عرض نتيجة تنفيذ الربنامج‪.‬‬



‫كما جيب أن يوفر املحرر إمكانية عرض نتائج مراحل الرتجمة بشكل واضح ومنظم من‬
                                              ‫خالل أزرار أو تبويبات‪ ،‬مثل‪:‬‬

                                                             ‫عرض الـ ‪.Tokens‬‬
                                          ‫عرض ‪.Parse Tree / Syntax Tree‬‬
                                                        ‫عرض ‪.Symbol Table‬‬
                                           ‫عرض نتائج ‪.Semantic Analysis‬‬
                                              ‫عرض ‪.Three-Address Code‬‬
                                                     ‫عرض ‪. Assembly Code‬‬
                                               ‫عرض األخطاء النحوية والداللية‪.‬‬
            ‫وجيب أن تكون هذه النتائج مرتبة وواضحة وقابلة للقراءة داخل املحرر‪.‬‬



‫ميكن االستفادة من فكرة بيئات الربمجة املعروفة مثل ‪ Visual Studio Code‬يف تصميم‬
                              ‫املحرر‪ ،‬ولكن ال يشرتط تقليد واجهة برنامج معني‪.‬‬

                                                     ‫ثالًث ا‪ :‬العالقة نيب املرتجم واملحرر‬
                                ‫املحرر واملرتجم جيب أن يكونا برنامجني تنفيذنيي منفصلني‪.‬‬

 ‫عند الضغط عىل زر الرتجمة أو التشغيل داخل املحرر‪ ،‬يقوم املحرر باستدعاء برنامج املرتجم‬
                    ‫ومترير ملف الكود إليه‪ ،‬مث يستقبل نتائج الرتجمة ويعرضها للمستخدم‪.‬‬

                                                         ‫أي أن آلية العمل تكون بشكل عام‪:‬‬
   ‫املستخدم > محرر اللغة > املرتجم > نتائج الرتجمة > املحرر > عرض النتائج ‪ /‬تنفيذ الربنامج‬

           ‫وال يشرتط أن تكون جميع مراحل الرتجمة موجودة داخل ملف تنفيذي واحد‪.‬‬

                                                             ‫رابًع ا‪ :‬أمثلة اختبار املرشوع‬
       ‫جيب عىل كل مجموعة توفري ما ال يقل عن ‪ 10‬أمثلة مختلفة الختبار املرتجم واملحرر‪.‬‬

     ‫الغرض من األمثلة هو إثبات أن املرشوع يعمل مع قواعد وخصائص مختلفة من اللغة‪.‬‬

             ‫مهم‪ :‬ال يعترب تكرار نفس القاعدة عدة مرات مع تغيري القيم مثااًل مختلًف ا كافًيا‪.‬‬

    ‫جيب أن تكون األمثلة متنوعة قدر اإلمكان‪ ،‬حبيث تغطي أجزاء مختلفة من قواعد‬
                                                                 ‫اللغة‪ ،‬مثل‪:‬‬
                                                        ‫تعريف املتغريات واستخدامها‪.‬‬
                                                                ‫أنواع البيانات املختلفة‪.‬‬
                                                                   ‫العمليات الحسابية‪.‬‬
                                                                    ‫العمليات املنطقية‪.‬‬
                                                                       ‫الجمل الرشطية‪.‬‬
                                                                     ‫الحلقات والتكرار‪.‬‬
                                        ‫الدوال أو اإلجراءات إن كانت موجودة يف اللغة‪.‬‬
                                      ‫الربامج اليت جتمع أكرث من قاعدة يف نفس الربنامج‪.‬‬
                                ‫أمثلة حتتوي عىل أخطاء حنوية الختبار اكتشاف األخطاء‪.‬‬
                                 ‫أمثلة حتتوي عىل أخطاء داللية الختبار التحليل الداليل‪.‬‬

                                         ‫خامًس ا‪ :‬استخدام األدوات واملكتبات الجاهزة‬
      ‫يسمح للطالب باستخدام األدوات واملكتبات الجاهزة يف تنفيذ مرحلة أو عدة مراحل من‬
                                                                            ‫املرشوع‪.‬‬

 ‫وجيب عىل املجموعة توضيح جميع األدوات واملكتبات الجاهزة املستخدمة يف التقرير‪ ،‬مع‬
                                                                            ‫ذكر‪:‬‬

                                                                      ‫اسم األداة أو املكتبة‪.‬‬
                                                                   ‫الغرض من استخدامها‪.‬‬
                                                                                  ‫إصدارها‪.‬‬
                                                            ‫الجزء الذي مت استخدامها فيه‪.‬‬

‫وجيب أن يكون لدى أعضاء املجموعة فهم كاٍف لكيفية عمل األجزاء املستخدمة يف املرشوع‪،‬‬
            ‫حيث ميكن مناقشة املجموعة حول املرشوع واألدوات املستخدمة أثناء التقييم‪.‬‬

                                                             ‫سادًس ا‪ :‬رشوط التسليم النهايئ‬
                ‫جيب أن يعمل املرشوع كمرشوع برمجي متكامل‪ ،‬حبيث يستطيع املستخدم‪:‬‬
  ‫‪.‬فتح ملف > كتابة الكود > حفظه > ترجمته > عرض النتائج واألخطاء > تنفيذ الربنامج عند جناح الرتجمة‬

                                                                 ‫وجيب تسليم املرشوع يف صورة‪:‬‬
                                                ‫‪ .a‬األكواد املصدرية للمرشوع‪.‬‬
                                                           ‫‪ .b‬تقرير املرشوع‪.‬‬
                                                  ‫‪ .c‬نسخة تنفيذية للمرشوع‪.‬‬

                                             ‫وجيب أن تكون النسخة التنفيذية إما‪:‬‬

                            ‫‪ Portable‬تعمل مبارشة دون الحاجة إىل تثبيت‪ ،‬أو‬
                  ‫‪ Installer / Setup‬ميكن من خالله تثبيت املرشوع وتشغيله‪.‬‬

                                                        ‫سابًع ا‪ :‬ملفات التسليم‬
                                          ‫جيب عىل كل مجموعة تسليم ‪ 3‬ملفات‪:‬‬
                                                              ‫‪ .1‬ملف التقرير‬

                                                            ‫الصيغة‪PDF :‬‬

                                 ‫ويتم تسميته بالشكل التايل‪RPT-GN.pdf :‬‬

                             ‫حيث إن ‪ GN‬هو رقم املجموعة املكون من خانتني‪.‬‬

                                                    ‫مثال‪RPT-G01.pdf :‬‬

                                                            ‫‪ .2‬امللف التنفيذي‬

‫جيب أن يكون امللف التنفيذي للمرشوع‪ ،‬سواء كان ملف تشغيل مبارش أو ملف إعداد‬
                                                                  ‫‪.Setup‬‬

                              ‫ويتم تسميته بالشكل التايل‪PREXE-GN.exe :‬‬

                                                 ‫مثال‪PREXE-G01.exe :‬‬

                                                   ‫‪ .3‬ملفات املرشوع واألكواد‬

                                                 ‫ملف مضغوط حيتوي عىل‪:‬‬

                                                 ‫األكواد املصدرية‪.‬‬
                                                   ‫ملفات املرشوع‪.‬‬
                                               ‫املكتبات املطلوبة‪.‬‬
                           ‫امللفات الالزمة لتشغيل أو بناء املرشوع‪.‬‬

        ‫ويتم ضغطه بصيغة ‪ RAR‬وتسميته بالشكل التايل‪PRFL-GN.rar :‬‬

                                                   ‫مثال‪PRFL-G01.rar :‬‬

                                                  ‫ثامًن ا‪ :‬محتويات التقرير‬
                                     ‫جيب أن حيتوي التقرير عىل األقسام التالية‪:‬‬

                                                              ‫الصفحة األوىل‬

                                                               ‫حتتوي عىل‪:‬‬

                                               ‫اسم املرشوع‪.‬‬
                                ‫أسماء جميع أعضاء املجموعة‪.‬‬
                                                 ‫اسم املقرر‪.‬‬
                                            ‫الفصل الدرايس‪.‬‬
                                              ‫العام الدرايس‪.‬‬



                                                             ‫الصفحة الثانية‬
                                                               ‫حتتوي عىل‪:‬‬

                 ‫وصف املرشوع ‪ :‬وصف مخترص لفكرة املرشوع وطريقة عمله‪.‬‬

                                                                ‫لغات الربمجة‬

‫ذكر لغة أو لغات الربمجة املستخدمة يف تنفيذ املرشوع‪ ،‬مع حتديد اإلصدار ورقم‬
                                                                ‫اإلصدار‪.‬‬

              ‫‪C# — Version 13‬‬         ‫مثال‪Python — Version 3.12 - :‬‬

                                                  ‫األدوات واملكتبات الجاهزة‬
       ‫ذكر األدوات واملكتبات وامللفات الجاهزة املستخدمة يف املرشوع‪ ،‬مع‪:‬‬

                                                      ‫االسم‪.‬‬
                                                   ‫اإلصدار‪.‬‬
                                       ‫الغرض من االستخدام‪.‬‬



                                   ‫من الصفحة الثالثة وحىت نهاية رشح الكود‬
                       ‫جيب تضمني أكواد املرشوع مع رشح واضح ألجزاء الكود‪.‬‬

                       ‫جيب أن يتضمن الرشح‪ ،‬حسب الجزء الذي يتم رشحه‪:‬‬

                                             ‫وظيفة الجزء من الكود‪.‬‬
                                                          ‫املدخالت‪.‬‬
                                                         ‫املخرجات‪.‬‬
                                               ‫املتغريات املستخدمة‪.‬‬
                                         ‫هياكل البيانات املستخدمة‪.‬‬
                                   ‫الدوال أو اإلجراءات املستخدمة‪.‬‬
                                                ‫املكتبات املستخدمة‪.‬‬
                                            ‫امللفات املرتبطة بالجزء‪.‬‬
                             ‫كيفية ارتباط الجزء ببايق أجزاء املرشوع‪.‬‬

                     ‫ويستمر ذلك حىت تغطية أجزاء املرشوع الربمجية املطلوبة‪.‬‬

‫الهدف من هذا القسم ليس وضع الكود فقط‪ ،‬وإمنا توضيح وفهم طريقة بناء املرشوع‬
                                                             ‫وعمل أجزائه‪.‬‬

                                                            ‫الصفحات األخرية‬
  ‫حتتوي عىل صور من تنفيذ املرشوع‪ ،‬مع وضع وصف توضيحي أسفل أو جبانب كل‬
                                  ‫صورة يوضح ما الذي تعرضه الصورة‪.‬‬

                     ‫ويفضل أن تشمل الصور‪ ،‬حسب ما ينطبق عىل املرشوع‪:‬‬

                                                      ‫واجهة املحرر‪.‬‬
                                                          ‫كتابة الكود‪.‬‬
                                                 ‫فتح وحفظ امللفات‪.‬‬
                                                  ‫نتائج الـ ‪.Tokens‬‬
                                            ‫شجرة اإلعراب‪/‬االشتقاق‪.‬‬
                                                        ‫جدول الرموز‪.‬‬
                                               ‫نتائج التحليل الداليل‪.‬‬
                                                    ‫الشفرة الوسيطة‪.‬‬
                                                  ‫الشفرة التجميعية‪.‬‬
                                                      ‫عرض األخطاء‪.‬‬
                                  ‫تنفيذ برنامج صحيح وعرض مخرجاته‪.‬‬

                                                            ‫تاسًع ا‪ :‬مالحظات مهمة‬
  ‫جيب االلزتام بقواعد اللغة املحددة للمرشوع ( سيتم ارسال ملف حيتوي قواعد اللغة)‪.‬‬
                           ‫جيب أن تكون نتائج الرتجمة ناجتة فعلًي ا عن معالجة الكود‪.‬‬
                           ‫ال يكفي جتهزي واجهة شكلية دون تنفيذ الوظائف املطلوبة‪.‬‬
                        ‫جيب أن يكون املرتجم واملحرر برنامجني تنفيذنيي منفصلني‪.‬‬
                                ‫جيب أن تعمل النسخة التنفيذية املسّلمة بشكل فعيل‪.‬‬
                  ‫جيب توضيح أي أدوات أو مكتبات خارجية مت استخدامها يف التقرير‪.‬‬
  ‫جيب أن يكون كل عضو يف املجموعة قادًرا عىل رشح الجزء الذي ساهم يف تنفيذه وفهم‬
                                                                 ‫املرشوع بشكل عام‪.‬‬
‫عدم االلزتام بتعليمات التسليم أو تسمية امللفات أو محتويات التقرير يعرض املجموعة‬
                                                         ‫للخصم من درجات املرشوع‪.‬‬
